.card {
  perspective: 1000px; 
  width: 200px;
  height: 300px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  text-align: center;
  padding: 1rem;
  
}

.card-front {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/public/DragonBall.jpg');
}

.card-back {
  background: lightcoral;
  transform: rotateY(180deg);
}
