.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1320px;
}

@font-face {
    font-family: 'DragonBalls';
    src: url(/public/saiyan_sans/Saiyan-Sans.ttf);
    font-weight: normal;
    font-style: normal;
}

/* mobile */
@media (max-width:576px){
    .container{
        max-width: 100%;
    }
    .cardHolder{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    }
    .title,
    .interactive{
        font-family: 'DragonBalls', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 30px;
    }
}
/* tablet */
@media (min-width:577px) and (max-width:1199px){
    .container{
        max-width: 100%;
    }
    .cardHolder{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        
    }
    .title,
    .interactive{
        font-family: 'DragonBalls', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 30px;
    }
}

/* desktop */
@media (min-width:1200px){
    .container{
        max-width: 1320px;
    }
    .cardHolder{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .title,
    .interactive{
        font-family: 'DragonBalls', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 50px;
        
    }
}
.header{
    display: flex;
    font-size: larger;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.cardHolder{
    display: grid;
    gap: 2rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.interactive{
    display: flex;
    gap: 20px;
}

button{
    border-radius: 20px;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

button:hover{
    background-color: #ee7a3b;
}

